{% extends '../base.html' %}

{% load static %}
{% load humanize %}

{% block css %}
    <link href="{% static 'css/user.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-start align-items-center">
            <p class="main-title mb-3 me-3">{{ title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="profile-area ps-3 pe-3">
                <div class="content pt-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <label class="mb-0">登録日</label>
                                <input type="text" value="{{ user.created_at|date:'Y年m月d日' }}" class="input-text readonly ps-2 pe-2" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <label class="mb-0">ID</label>
                                <input type="text" value="{{ user.login }}" class="input-text readonly ps-2 pe-2" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <label class="mb-0">名前</label>
                                {% if user.profile %}
                                    {% if user.profile.family_name and user.profile.first_name %}
                                        <input type="text" value="{{ user.profile.family_name }} {{ user.profile.first_name }}" class="input-text readonly ps-2 pe-2" readonly>
                                    {% elif user.profile.family_name %}
                                        <input type="text" value="{{ user.profile.family_name }}" class="input-text readonly ps-2 pe-2" readonly>
                                    {% elif user.profile.first_name %}
                                        <input type="text" value="{{ user.profile.first_name }}" class="input-text readonly ps-2 pe-2" readonly>
                                    {% else %}
                                        <input type="text" value="-" class="input-text readonly ps-2 pe-2" readonly>
                                    {% endif %}
                                {% else %}
                                    <input type="text" value="-" class="input-text readonly ps-2 pe-2" readonly>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <label class="mb-0">フリガナ</label>
                                {% if user.profile %}
                                    {% if user.profile.family_name_kana and user.profile.first_name_kana %}
                                        <input type="text" value="{{ user.profile.family_name_kana }} {{ user.profile.first_name_kana }}" class="input-text readonly ps-2 pe-2" readonly>
                                    {% elif user.profile.family_name_kana %}
                                        <input type="text" value="{{ user.profile.family_name_kana }}" class="input-text readonly ps-2 pe-2" readonly>
                                    {% elif user.profile.first_name_kana %}
                                        <input type="text" value="{{ user.profile.first_name_kana }}" class="input-text readonly ps-2 pe-2" readonly>
                                    {% else %}
                                        <input type="text" value="-" class="input-text readonly ps-2 pe-2" readonly>
                                    {% endif %}
                                {% else %}
                                    <input type="text" value="-" class="input-text readonly ps-2 pe-2" readonly>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content pb-2 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <label class="mb-0">メールアドレス</label>
                                <input type="text" value="{{ user.profile.email|default:'-' }}" class="input-text readonly ps-2 pe-2" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content pb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between">
                                <button type="button" value="{{ user.display_id }}" class="btn edit-button d-block ms-auto me-auto">編集</button>
                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#edit_user_modal"></button>
                                <button type="button" value="{{ user.display_id }}" class="btn delete-button d-block ms-auto me-auto">削除</button>
                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#delete_check_modal"></button>
                                <input type="hidden" id="delete_user_url" value="{% url 'user:delete' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            {% for history_item in user.history %}
                <div class="history-area ps-3 pe-3 mb-3">
                    <input type="hidden" name="year" value="{{ history_item.close_month|date:'Y' }}">
                    <input type="hidden" name="month" value="{{ history_item.close_month|date:'m' }}">
                    <div class="content pt-3">
                        <p class="history-title mb-0">{{ history_item.close_month|date:'Y年m月' }}</p>
                    </div>
                    <div class="content d-flex justify-content-start align-items-center pb-3">
                        <p class="history-text mb-0" style="width: 150px;">取引回数 : {{ history_item.count }}回</p>
                        {% if history_item.profit_month > 0 %}
                            <p class="history-text mb-0">損益 : <span style="color: #0067C0;">+{{ history_item.profit_month|intcomma }}</span></p>
                        {% elif history_item.profit_month < 0 %}
                            <p class="history-text mb-0">損益 : <span style="color: #FF0000;">{{ history_item.profit_month|intcomma }}</span></p>
                        {% else %}
                            <p class="history-text mb-0">損益 : {{ history_item.profit_month|intcomma }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'modal.html' %}
    {% include 'user/modal.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/user/detail.js' %}"></script>
{% endblock %}