{% extends '../base.html' %}

{% load static %}

{% block content %}
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-start align-items-center">
            <p class="main-title mb-3 me-3">{{ title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-area mb-3">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>名前</th>
                            <th>ID</th>
                            <th>ステータス</th>
                            <th>最終取引日</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_item in user %}
                            <tr>
                                {% if user_item.profile %}
                                    {% if user_item.profile.family_name and user_item.profile.first_name %}
                                        <td>{{ user_item.profile.family_name }} {{ user_item.profile.first_name }}</td>
                                    {% elif user_item.profile.family_name %}
                                        <td>{{ user_item.profile.family_name }}</td>
                                    {% elif user_item.profile.first_name %}
                                        <td>{{ user_item.profile.first_name }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                <td>{{ user_item.login }}</td>
                                <td>
                                    {% if user_item.delete_flg %}
                                        <p class="mb-0" style="color: #FF0000;">停止中</p>
                                    {% else %}
                                        <p class="mb-0">稼働中</p>
                                    {% endif %}
                                </td>
                                <td>{{ user_item.last_date }}</td>
                                <td>
                                    <a href="{% url 'user:detail' %}?id={{ user_item.display_id }}" class="btn detail-button">詳細</a>
                                    <button type="button" value="{{ user_item.display_id }}" class="btn edit-button">編集</button>
                                    <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#edit_user_modal"></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'modal.html' %}
    {% include 'user/modal.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/user/index.js' %}"></script>
{% endblock %}