{% extends '../base.html' %}

{% block content %}
    <div class="input-area">
        <form id="login_form" action="{% url 'login' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
            {% csrf_token %}
            <div id="email-error-form" class="input-form">
                <label>Email</label>
                <input type="text" name="username" data-parsley-errors-container="#email-error" data-parsley-class-handler="#email-error-form" required>
                <label id="email-error" class="d-none"></label>
            </div>
            <div id="password-error-form" class="input-form">
                <label>Password</label>
                <input type="password" name="password" data-parsley-errors-container="#password-error" data-parsley-class-handler="#password-error-form" required>
                <label id="password-error" class="d-none"></label>
            </div>
            <button type="submit" class="btn login-button">ログイン</button>
        </form>
    </div>
{% endblock %}