{% load static %}

<div id="edit_manager_modal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block ps-4 pe-4">
                <div class="row">
                    <div class="col-11">
                        <div class="d-flex align-items-center">
                            <p class="modal-title">管理者情報編集</p>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn-close close-button me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body d-block ps-4 pe-4">
                <input type="hidden" id="save_check_form" value="#">
                <form id="save_manager_form" action="{% url 'setting:save_manager' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                    <input type="hidden" name="id" value="{{ manager.display_id }}">
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="text-end pe-4 mb-0" style="width: 25%;">登録日</label>
                                    <input type="text" value="{{ manager.created_at|date:'Y年m月d日 H:i' }}" class="input-text readonly ps-2 pe-2" style="width: 75%;" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="text-end pe-4 mb-0" style="width: 25%;">ID</label>
                                    <input type="text" value="#{{ manager.display_id }}" class="input-text readonly ps-2 pe-2" style="width: 75%;" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="text-end pe-4 mb-0" style="width: 25%;">氏名</label>
                                    <div class="input-content d-flex" style="width: 75%;">
                                        <input type="text" name="family_name" class="input-text ps-2 pe-2 me-2" value="{{ manager.profile.family_name }}" data-parsley-errors-messages-disabled required>
                                        <input type="text" name="first_name" class="input-text ps-2 pe-2 ms-auto" value="{{ manager.profile.first_name }}" data-parsley-errors-messages-disabled required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="text-end pe-4 mb-0" style="width: 25%;">フリガナ</label>
                                    <div class="input-content d-flex" style="width: 75%;">
                                        <input type="text" name="family_name_kana" class="input-text ps-2 pe-2 me-2" value="{{ manager.profile.family_name_kana }}" pattern="[\u30A1-\u30F6]*" data-parsley-errors-messages-disabled required>
                                        <input type="text" name="first_name_kana" class="input-text ps-2 pe-2 ms-auto" value="{{ manager.profile.first_name_kana }}" pattern="[\u30A1-\u30F6]*" data-parsley-errors-messages-disabled required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="text-end pe-4 mb-0" style="width: 25%;">メールアドレス</label>
                                    <input type="text" value="{{ manager.email }}" class="input-text readonly ps-2 pe-2" style="width: 75%;" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center ps-4 pe-4">
                <button type="button" class="btn action-button d-block" value="manager">保存する</button>
                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#edit_check_modal"></button>
            </div>
        </div>
    </div>
</div>